@CHARSET "utf-8";

*{font-size:12px;}
textarea{resize: none;}

.operateTable{width:100%;height:100%;text-align:center;}
.operateTable td{border:0;width:10%;}
.operate{color:#2023EF;text-decoration: none; margin-right: 10px}
.operate:hover{color:red;}

/**定义table样式*/
.viewTable{width:100%;font-size:14px!important;padding:0 10px;}
.viewTable td{padding:5px;width:15%;float:right;}


.viewTable .viewTd{border-bottom:1px solid #bbb;width:20%!important;vertical-align:center;}
.viewTable .viewTitle{background: #eee;}

.detailTable{width:100%;border:1px solid #eee;font-size:14px!important;}
.detailTable tr{border:1px solid #bbb;text-align: center;}
.detailTable td{border:1px solid #bbb;text-align: center;}