.icon-blank{
	background:url('../images/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../images/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../images/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../images/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../images/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../images/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../images/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/icons/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/icons/large_chart.png') no-repeat center center;
}

.icon-user{
	background:url('../images/icons/user.png') no-repeat center center;
}
.icon-user-add{
	background:url('../images/icons/user_add.png') no-repeat center center;
}
.icon-user-add{
	background:url('../images/icons/user_add.png') no-repeat center center;
}
.icon-user-delete{
	background:url('../images/icons/user_delete.png') no-repeat center center;
}
.icon-user-warn{
	background:url('../images/icons/user_warn.png') no-repeat center center;
}
.icon-group{
	background:url('../images/icons/user_group.png') no-repeat center center;
}
.icon-group-link{
	background:url('../images/icons/group_link.png') no-repeat center center;
}
.icon-account-excel{
	background:url('../images/icons/account_excel.png') no-repeat center center;
}
.icon-account-add{
	background:url('../images/icons/account_add.png') no-repeat center center;
}
.icon-settle{
	background:url('../images/icons/settle.png') no-repeat center center;
}
.icon-settle-edit{
	background:url('../images/icons/settle_edit.png') no-repeat center center;
}
.icon-table{
	background:url('../images/icons/table.png') no-repeat center center;
}
.icon-chart{
	background:url('../images/icons/chart.png') no-repeat center center;
}
.icon-chart-bar{
	background:url('../images/icons/chart_bar.png') no-repeat center center;
}
.icon-chart-line{
	background:url('../images/icons/chart_line.png') no-repeat center center;
}
.icon-chart-pie{
	background:url('../images/icons/chart_pie.png') no-repeat center center;
}
.icon-email-go{
	background:url('../images/icons/email_go.png') no-repeat center center;
}
.icon-group-set{
	background:url('../images/icons/group-set.png') no-repeat center center;
}
.icon-page-log{
	background:url('../images/icons/page.png') no-repeat center center;
}
.icon-import-log{
	background:url('../images/icons/page_excel.png') no-repeat center center;
}