<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="payProducer" class="com.aliyun.openservices.ons.api.bean.ProducerBean"
		init-method="start" destroy-method="shutdown">
		<property name="properties"> <!--生产者配置信息 -->
			<props>
				<prop key="ProducerId">${gd.MQ.pay.ProducerID}</prop>
				<prop key="AccessKey">${gd.MQ.AccessKey}</prop>
				<prop key="SecretKey">${gd.MQ.SecretKey}</prop>
			</props>
		</property>
	</bean>

	<bean id="sendMessage" class="cn.gdeng.paycenter.util.server.mq.SendMessageUtil">
		 <property name="producer" ref="payProducer" />
	</bean>


</beans>